# Copyright (c) 2025, hi <hi@nosec.me>. All rights reserved.

BasedOnStyle: LLVM

AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AlignAfterOpenBracket: AlwaysBreak

AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakBeforeMultilineStrings: true

BreakBeforeBinaryOperators: None
BreakFunctionDefinitionParameters: false
BreakStringLiterals: false
BreakArrays: false
BreakBeforeBraces: Linux
BinPackArguments: false
BinPackParameters: false
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeMemberAccess: 1000
PenaltyBreakScopeResolution: 1000
BracedInitializerIndentWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
IndentGotoLabels: true
SortIncludes: Never
ColumnLimit: 100
FixNamespaceComments: true

ForEachMacros: []
