BasedOnStyle: LLVM
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
BinPackParameters: false
BinPackArguments: false
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 1000
ContinuationIndentWidth: 2
SortIncludes: Never
